
html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
img {
	max-width: 100%;
	height: auto;
}
.content {
	flex: 1;
	padding: 20px;
}
.footer {
	background-color: #f5f5f5;
}


/* Custom page CSS - MOBILE first */
body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 15px 0;
  text-align: start;
}
.startpage{
  color:red;
  font-size:40px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;


}
.grid-item {

  margin:10px;

}
.card-main{
  margin:10px;
}
.card-title{
  font-size: 20px;
  text-align: left;
  padding-left:5px;
  padding-top:5px;
  min-height:75px;
}
.card-blurb{
  font-size: 14px;
  text-align: left;
  padding-left:5px;
  padding-top:5px;
  min-height:70px;
}
.card-author{
  font-size:14px;
  text-align: left;
  width:100%;
  padding-left:10px;
  min-height:50px;
}
.card-fund{
  font-size:14px;
  text-align: right;
  width:100%;
  padding-left:10px;
  min-height:50px;
}
.card-img{

  
}
.card{
  margin:30px
}
.card-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;

}
.card-flex-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	padding-right: 0;
}
.card-flex-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 100%;

	  background-color: white;
    border-radius: 0px;
    margin-bottom: 1em;
    margin-right: 0;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px 0px;
    transition: opacity 1s cubic-bezier(.43,.41,.22,.91);
}
.card-flex-image img {
	opacity: 1;
}
.card-flex-button {
	background-color: white;
	border: 1px solid #333;
	padding: 0.5rem;
	color: #333;
	text-align: center;
	text-decoration: none;
}
.card-flex-button:hover {
	color: #333;
	text-decoration: none;
}
.hr-line{
  margin-top:4px;
  margin-bottom: 4px;
  width:100%;
  background-color: #dcd9d9;
  height: 1px;
}
.col-6{
  padding-right:5px;
  padding-left:5px;
}
@media (min-width: 768px) {
	.container .text-muted {
		text-align: end;
	}
	.card-flex-item {
		width: 33.33%;
		padding-right: 1em;
	}
	.card-flex-item:nth-child(3n) {
		padding-right: 0;
	}
	.card-flex-image img {
		opacity: 0.8;
	}
	.card-flex-wrapper:hover {
		cursor: pointer;
		background-color: white;
		box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;


	}
	.card-flex-wrapper:hover .card-flex-image img {
		opacity: 1;

	}
	.card-flex-wrapper:hover .card-flex-button {
		background-color: white;
	}
}
